<table>
    {% for program in programs %}
        <tr>
            <td>{{program.complete_title|e}}</td>
            <td>{{program.brand_title|e}}</td>
            <td>{{program.masterbrand_title|e}}</td>
            <td>
               
            </td>
        </tr>
    {% endfor %}
</table>
